Hi! <%= fname %> <%= lname %> <br>
What is your age?

<form method = 'post' action = '/age'>
	Age: <input type = "text" name = "age"><br>
	<input type = "hidden" name = "fname" value = "<%= fname %>"><br>
	<input type = "hidden" name = "lname" value = "<%= lname%>"><br>
  <input type="submit" value="submit">
</form>