 Hi <%= fname %> can I get your last name? 

 <form method = 'post' action = '/lastname'> 	
  Last name: <input type="text" name="lname"><br>
  <input type = "hidden" name = "fname" value = "<%= fname %>"><br>
  <input type="submit" value="submit">
</form>